.taskItem {
    max-width: 46.125rem;
    padding: 1rem;

    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background-color: var(--gray-500);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.taskItem p {
    color: var(--gray-100);
    flex: 1;
    font-size: 0.875rem;
    line-height: 140%;
    word-break: break-all;
}

button {
    background-color: transparent;
    border: 0px;
}

.taskCompleted {
    color: var(--gray-300) !important;
    text-decoration: line-through;
}

.taskCheckbox {
    color: var(--blue-500);
    cursor: pointer;
    transition: color ease-in .2s;
}

.taskCheckbox:hover {
    color: var(--blue-700);
}

.taskCheckboxCompleted {
    color: var(--purple-500);
    cursor: pointer;
    transition: color ease-in .2s;
}

.taskCheckboxCompleted:hover {
    color: var(--purple-600);
    cursor: pointer;
}

.taskDelete {
    color: var(--gray-300);
    cursor: pointer;
    padding: 0.375rem;
    border-radius: 4px;

    display: flex;
    align-items: center;
}

.taskDelete:hover{
    background-color: var(--gray-400);
    color: var(--salmon-500);
}