.taskForm {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: calc(0px - 1.5rem - 6px);
}

.taskForm input {
    width: 39.8rem;
    height: 3.375rem;
    padding: 1rem;

    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
    color: var(--gray-300);
}

.taskForm input:focus-within {
    border: 1px solid var(--purple-600);
}

.taskForm button {
    max-width: 5.625rem;
    padding: 0 1rem;
    height: 3.375rem;
    font-size: 0.875rem;
    font-weight: 700;

    border-radius: 8px;
    border: 0;
    color: var(--gray-100);
    background-color: var(--blue-700);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    transition: background-color ease-in .2s;
}

.taskForm button:hover {
    background-color: var(--blue-500);
}

.taskArea {
    max-width: 46rem;
    margin: 3.375rem auto;

    display: flex;
    justify-content: space-between;
}

.taskCreated {
    color: var(--blue-500);
    font-weight: 700;
}

.taskCompleted {
    color: var(--purple-500);
    font-weight: 700;
}

.taskCreated span,
.taskCompleted span {
    font-size: 0.85rem;

    margin-left: 8px;

    border-radius: 999px;
    border: 1px;

    background-color: var(--gray-400);
    background-size: 16px;
    padding: 2px 8px;
    color: var(--gray-200);
}

.taskList {
    max-width: 46rem;
    margin: 3.375rem auto;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}